/*------------------------------------*\
	OR Framework - Main
\*------------------------------------*/

/**
 *  Import vendor utilities
 */

@import "vendor/_lesshat.less";
@import "vendor/_colors.less";
@import "vendor/_animated.less";
@import "//fonts.googleapis.com/css?family=Droid+Sans:400,700";
@import "//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";


/**
 *  Global variables
 */

/* base stuff */
@base-font-size:								80%;
@base-line-height:							1;
@base-spacing-modifier:					1;
@base-border-radius:						1px;

/* animations */
@base-animation-duration:				200ms;
@base-animation-delay:					200ms;
@hover-animation-duration:			25ms;
@hover-animation-delay:					45ms;

/* font */
@base-font-family:	 						"Droid Sans", "Segoe UI", "Lucida Grande", "Tahoma", sans-serif;

/* colors */
@link-color:										#1155cc;
@base-ui-color:									#e1e1e1;
@brand-color:										#4d90fe;
@brand-color-faded:							#f0f6fe;
@black:													#444444;
@white:													#ffffff;

/* font sizes */
@giga-size:											2rem;
@mega-size:											1.5rem;
@kilo-size:											1.25rem;
@milli-size:										0.9rem;
@micro-size:										0.8rem;
@h1-size:												1.5rem;
@h2-size:												1.4rem;
@h3-size:												1.3rem;
@h4-size:												1.2rem;
@h5-size:												1.1rem;
@h6-size:												1rem;

/* mobile breakpoints */
@me-sm:													35.5rem;
@me-md:													48rem;
@me-lg:													68rem;
@me-xl:													80rem;


/**
 *  Import generic utilities
 */

@import "generic/_reset.less";
@import "generic/_shared.less";


/**
 *  Import base styles
 */

@import "base/_main.less";
@import "base/_headings.less";
@import "base/_paragraphs.less";
@import "base/_images.less";
@import "base/_lists.less";
@import "base/_tables.less";
@import "base/_inputs.less";
@import "base/_forms.less";


/**
 *  Import optional objects
 */

@import "objects/_grid.less";
@import "objects/_menus.less";
@import "objects/_wells.less";
@import "objects/_notifications.less";
@import "objects/_boxes.less";