/**
 *  OR Framework - Stylesheet
 */

/* Variables */
@base-line-height: 1;
@base-font-size: 12px;
@base-spacing: 1rem;

@link-color: #1155cc;

@black: #303942;
@white: #ffffff;

@grey: #eeeeee;
@grey-dark: #999999;
@grey-darkest: #464E5A;

@button-radius: 2px;

/* Modules */
@import "modules/normalize.less";
@import "modules/base.less";
@import "modules/typography.less";
@import "modules/headers.less";
@import "modules/form-inputs.less";