/**
 *  OR Framework - Stylesheet
 */

/* Plugins */
@import "vendor/lesshat.less";
@import "vendor/animate.less";

/* Variables */
@base-line-height: 1;
@base-font-size: 12px;
@base-spacing: 1rem;

@link-color: #1155cc;

@black: #303942;
@white: #ffffff;

@grey: #eeeeee;
@grey-dark: #999999;
@grey-darkest: #464E5A;

@button-radius: 2px;
@button-active-border-color: #4d90fe;

@me-sm: 35.5rem;
@me-md: 48rem;
@me-lg: 68rem;
@me-xl: 80rem;

/* Base modules */
@import "base/normalize.less";
@import "base/base.less";
@import "base/typography.less";
@import "base/form-inputs.less";

/* Optional components */
@import "components/grid.less";
@import "components/headers.less";