/*------------------------------------*\
	OR Framework - Forms
\*------------------------------------*/

/* local variables */
@form-field-spacing: ((@base-spacing-modifier/2) * 1rem);
@horizontal-label-width: 17.5%;

/**
 *  Default form
 */

form {

	legend {
		font-size: @h3-size;
		padding: 0 ((@base-spacing-modifier/2) * 1rem);
	}

	label {
		display: block;
		font-weight: 700;
		margin-bottom: ((@base-spacing-modifier/2) * 1rem);
	}

	fieldset {
		border: 1px solid @base-ui-color;
		margin-bottom: ((@base-spacing-modifier*1.5) * 1rem);
		padding: ((@base-spacing-modifier * 1rem) - @form-field-spacing);

		&:last-of-type {
			margin-bottom: 0;
		}

		.form-fields {
			list-style-type: none;
			margin: 0;
			padding: 0;

			> li {
				padding: @form-field-spacing;
			}
		}
	}
}


/**
 *  Hoverable form
 */

.form--hover {

	.form-fields li {
		.lh-transition(background @hover-animation-duration @hover-animation-delay);
	}

	.form-fields li:hover {
		background: @brand-color-faded;
		.lh-transition-delay(0);
	}
}


/**
 *  Horizontal form
 */

.form--horizontal {

	.form-fields li, label {
		display: block;
	}

	input, select, textarea {
		width: 100%;
	}

	// mobiles + up
	@media (min-width: @me-sm) {

		.form-fields li {
			.clearfix;
		}

		label {
			.hide-text-overflow;
			display: inline-block;
			width: @horizontal-label-width;
			padding-right: ((@base-spacing-modifier*2) * 1rem);
			text-align: right;
			vertical-align: top;
		}

		input, select, textarea {
			float: right;
			width: (100% - @horizontal-label-width);
		}
	}
}