/*------------------------------------*\
	OR Framework - Main styles
\*------------------------------------*/

html {
	font: @base-font-size @base-font-family;
	overflow-y: scroll;
	min-height: 100%;
}