/*------------------------------------*\
	OR Framework - Paragraphs
\*------------------------------------*/

/**
 *  Default paragraph
 */

p {
	line-height: ((@base-line-height*1.6) * 1rem);
	margin-bottom: (@base-spacing-modifier * 1rem);

	&:last-child {
		margin-bottom: 0;
	}
}


/**
 *  Leading paragraph
 */

.lead {
	font-size: 1.125rem;
}


/**
 *  Small texts
 */

.milli {
	font-size: ((@base-spacing-modifier*@milli-size) * 1rem);
}

.micro {
	font-size: ((@base-spacing-modifier*@micro-size) * 1rem);
}